<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tech.ketc.numeri">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- activity -->
        <activity
            android:name=".ui.activity.main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.main.MainActivity$OauthActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/twitter_callback_host"
                    android:scheme="@string/twitter_callback_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.setting.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.ActionBar" />


        <activity
            android:name=".ui.activity.timelinemanage.TimelineManageActivity"
            android:label="タイムライン管理"
            android:theme="@style/AppTheme" />
        <!-- /activity -->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e54ae92d8ec83fbb6267d6e4d3b62dad5e0b6b9e" />

    </application>

</manifest>